.content-scrollable {
  background-image: url("/assets/images/lottery/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  .tops {
    width: 96%;
    margin: 0 2%;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    .content {
      position: absolute;
      left: 15%;
      bottom: 0;
      width: 70%;
      font-size: 0.14rem;
      .weui-cells {
        font-size: 0.15rem;
        color: #434343;
        .weui-cell {
          padding: 0.07rem 0.15rem;
          .weui-cell__ft {
            font-weight: bold;
            color: #e23328;
          }
        }
      }
      .weui-btn-area {
        margin: 0.2rem 0.2rem 0.3rem;
        .weui-btn_primary {
          background: #4893d2;
          font-size: 0.16rem;
          line-height: 2;
        }
      }
    }
  }
}

weui-mask {
  .prize {
    width: 96%;
    margin: 0 2%;
    position: relative;
    img {
      width: 100%;
      display: block;
    }
    .content {
      position: absolute;
      left: 15%;
      bottom: 0;
      width: 70%;
      font-size: 0.14rem;
      .msg {
        font-size: 0.2rem;
        text-align: center;
        margin: 0 0 0.7rem;
        em {
          font-size: 0.26rem;
          color: #d92f26;
          font-style: normal;
          font-weight: bold;
          display: inline-block;
        }
      }
      .weui-btn-area {
        margin: 0.2rem 0.05rem 0.5rem;
        .weui-btn_primary {
          background: #4893d2;
          font-size: 0.16rem;
          line-height: 2;
          margin: 0 0.075rem;
        }
      }
    }
  }
}
