<div class="content-scrollable">
  <div class="weui-cells__title">已添加的课程</div>
  <div class="weui-cells">
    <a *ngFor="let course of courses" class="weui-cell weui-cell_access">
      <div [routerLink]="['/admin/course/edit',course._id]" class="weui-cell__bd">
        <p>{{course.label}}</p>
      </div>
      <div (click)="remove(course)" class="weui-cell__ft">删除</div>
    </a>

  </div>

  <div class="weui-btn-area">
    <a routerLink="/admin/course/add" class="weui-btn weui-btn_primary">继续添加</a>
  </div>
</div>
