<div class="content-scrollable">
  <div class="weui-cells__title">已添加的城市</div>
  <div class="weui-cells">
    <a *ngFor="let city of cities" class="weui-cell weui-cell_access">
      <div [routerLink]="['/admin/city/edit',city._id]" class="weui-cell__bd">
        <p>{{city.label}}</p>
      </div>
      <div (click)="remove(city)" class="weui-cell__ft">删除</div>
    </a>

  </div>

  <div class="weui-btn-area">
    <a routerLink="/admin/city/add" class="weui-btn weui-btn_primary">继续添加</a>
  </div>
</div>
