<div [formGroup]="coursesForm" class="content-scrollable">
  <div class="weui-cells__title">添加课程</div>
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input formControlName="label" type="text" placeholder="课程名称" class="weui-input">
      </div>
    </div>
    <a (click)="showPicker('start')" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>开始时间</p>
      </div>
      <div class="weui-cell__ft">{{coursesForm.get('start').value ? (coursesForm.get('start').value | date : 'yyyy-MM-dd HH:mm:ss') : '请选择开始时间'}}</div>
    </a>
    <a (click)="showPicker('end')" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>结束时间</p>
      </div>
      <div class="weui-cell__ft">{{coursesForm.get('end').value ? (coursesForm.get('end').value | date : 'yyyy-MM-dd HH:mm:ss') : '请选择结束时间'}}</div>
    </a>
  </div>

  <div class="weui-cells__title">可签到城市</div>

  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box">
        <div class="weui-grids">
          <span *ngFor="let city of cities" class="weui-grid">
            <span (click)="setCities(city)" class="weui-grid__label" [ngClass]="{'curr':coursesForm.get('cities').value.indexOf(city._id) !== -1}">{{city.label}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="weui-btn-area">
    <a (click)="submit()" class="weui-btn weui-btn_primary">添加</a>
  </div>
</div>
