<div class="content-scrollable">
  <div class="weui-cells">

    <a routerLink="/admin/city/list" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><i class="icons icons-address"></i></div>
      <div class="weui-cell__bd">
        <p>城市管理</p>
      </div>
      <div class="weui-cell__ft">已添加{{cities.length}}个城市</div>
    </a>
    <a routerLink="/admin/course/list" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><i class="icons icons-edu"></i></div>
      <div class="weui-cell__bd">
        <p>课程管理</p>
      </div>
      <div class="weui-cell__ft">已添加{{courses.length}}个课程</div>
    </a>
  </div>
</div>
