.weui-media-box_appmsg {
  padding: 0.15rem;
  .weui-media-box__hd {
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    margin-right: 0.08rem;
    align-self: start;
    .weui-media-box__thumb {
      border-radius: 0.08rem;
    }
  }
  .weui-media-box__title {
    font-size: 0.15rem;
  }
  .weui-media-box__desc {
    font-size: 0.13rem;
  }
  .weui-media-box__info {
    font-size: 0.13rem;
    margin-top: 0.1rem;
  }
}
