<weui-infiniteloader *ngIf="currItems" (loadmore)="onLoadMore($event)" #comp>

  <div class="weui-panel">
    <div class="weui-panel__hd">16中4的用户 <span class="right">共 <em>{{promotions?.length}}</em>人猜中</span></div>
    <div class="weui-panel__bd">
      <div *ngFor="let item of promotions" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="{{item.avatar ? item.avatar : '/assets/images/icons/voice.png'}}" alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{item.name ? item.name : item.nickName}}({{item.mobile}})</h4>
          <p class="weui-media-box__desc">猫酷账号：{{item.nickName}}，中奖积分：<em>{{item.score}}</em></p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">{{item.meta.createAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <div class="weui-panel__hd">投票的用户 <span class="right">共 <em>{{votes?.length}}</em>人投票</span></div>
    <div class="weui-panel__bd">
      <div *ngFor="let item of currItems" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="{{item.avatar ? item.avatar : '/assets/images/icons/voice.png'}}" alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{item.name ? item.name : item.nickName}}({{item.mobile}})</h4>
          <p class="weui-media-box__desc">猫酷账号：{{item.nickName}}，中奖积分：<em>{{item.score}}</em></p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">{{item.meta.createAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</weui-infiniteloader>

