<div class="content-scrollable">
  <div class="weui-cells__title">添加城市</div>
  <form class="weui-cells" [formGroup]="citiesForm">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input formControlName="label" type="text" placeholder="name" class="weui-input">
      </div>
    </div>
    <!--<div class="weui-cell">
      <div class="weui-cell__bd">
        <input formControlName="value" type="number" placeholder="value" class="weui-input">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input formControlName="origin" type="number" placeholder="origin" class="weui-input">
      </div>
    </div>-->
  </form>

  <div class="weui-btn-area">
    <a (click)="submit()" class="weui-btn weui-btn_primary">确定</a>
  </div>
</div>
