.content-scrollable {
  background: #a5848d;
}
.weui-msg {
  padding-top: 0.7rem;
  .weui-icon_msg {
    display: inline-block;
    vertical-align: middle;
    font: normal normal normal 14px/1 "weui";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 1.7rem;
    font-size: 0;
    img {
      display: block;
      width: 100%;
    }
  }
  .weui-msg__title {
    font-size: 0.13rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.02rem;
  }
  .weui-msg__desc {
    font-size: 0.13rem;
    color: #fff;
    letter-spacing: 0.02rem;
    margin-top: 0.1rem;
  }
}
