<div class="content-scrollable">
  <div class="weui-cells">

    <a (click)="showCities()" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><i class="icons icons-address"></i></div>
      <div class="weui-cell__bd">
        <p>选择地区</p>
      </div>
      <div class="weui-cell__ft">{{signForm.get('city').value ? (signForm.get('city').value | label : cities) : '请选择城市'}}</div>
    </a>
    <a (click)="showCourses()" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><i class="icons icons-edu"></i></div>
      <div class="weui-cell__bd">
        <p>选择课程</p>
      </div>
      <div class="weui-cell__ft">{{signForm.get('course').value ? (signForm.get('course').value | label : courses) : '请选择课程'}}</div>
    </a>
  </div>

  <div class="weui-btn-area">
    <a (click)="sign()" class="weui-btn weui-btn_primary">签到</a>
  </div>
</div>
