/* You can add global styles to this file, and also import other style files */
@import "~ngx-weui/index.min.css";

html, body {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.14rem;
}

em {
  color: #db2828;
}

.right {
  float: right;
}

.avatar {
  border-radius: 50%;
}

.content-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #f8f8f8;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.has-nav {
    padding-top: 0.48rem;
  }
  &.has-footer {
    &:after {
      content: "";
      display: block;
      height: 53px;
    }
  }
  .weui-panel:first-child {
    &:before {
      display: none;
    }
  }
}

.weui-cells {
  margin-top: 0.1rem;
  font-size: 0.15rem;
  color: #666;
  &:before, &:after {
    display: none;
  }
}

.weui-cells__title {
  font-size: 0.15rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.weui-cells__tips {
  font-size: 0.13rem;
  color: #4CA6FF;
  margin-top: 0.05rem;
}

.weui-cell {
  padding: 0.15rem;
  .weui-cell__hd {
    i {
      margin-right: 0.05rem;
    }
  }
}

.weui-cell_access .weui-cell__ft {
  font-size: 0.15rem;
  padding-right: 0.13rem;
}

.weui-cell__ft {
  font-size: 0.15rem;
  label {
    font-size: 0;
    display: inline-block;
    margin-left: 0.1rem;
    span, i {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-size: 0.13rem;
    }
    i {
      font-size: 0.18rem;
    }
  }
}

.weui-panel {
  &:before, &:after {
    display: none;
  }
}

.weui-media-box {
  padding: 0.15rem;
  font-size: 0.15rem;
}

.weui-media-box_appmsg {
  .weui-media-box__hd {
    width: 0.6rem;
    height: 0.6rem;
    align-self: start;
    img {
      width: 100%;
      display: block;
    }
    .weui-media-box__thumb {
      background-size: cover;
      height: 100%;
      display: block;
    }
  }
}

.weui-media-box_small-appmsg {
  padding: 0;
}

.weui-media-box__title {
  font-size: 0.15rem;
  .date {
    color: #999;
    font-size: 0.12rem;
    line-height: 0.24rem;
  }
}

.weui-media-box__desc {
  font-size: 0.12rem;
}

.weui-media-box_access {
  .weui-media-box__ft {
    position: relative;
    padding-right: 0.13rem;
    &:after {
      content: " ";
      display: inline-block;
      height: 0.06rem;
      width: 0.06rem;
      border-width: 0.02rem 0.02rem 0 0;
      border-color: #C8C8CD;
      border-style: solid;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      margin-top: -0.04rem;
      right: 0.02rem;
      text-align: right;
    }
  }
}

.weui-cell_link {
  font-size: 0.13rem;
  line-height: 1.47058824;
  .weui-cell__hd {
    align-self: center;
    margin-right: 0.05rem;
    .icons {
      font-size: 0.18rem;
      display: block;
    }
  }
  .weui-cell__bd {
    min-width: 6em;
  }
}


weui-dialog {
  .weui-dialog__bd {
    min-height: 0.4rem;
    font-size: 0.15rem;
    &:first-child {
      color: #652033;
      font-weight: bold;
    }
  }
  .weui-dialog__ft {
    margin: 0 0.1rem 0.15rem;
    &:after {
      display: none;
    }
    .weui-dialog__btn {
      margin: 0 0.1rem;
      border: 1px solid #652033;
      border-radius: 0.08rem;
      color: #652033;
      font-size: 0.13rem;
      line-height: 1;
      padding: 0.08rem 0;
      &:after {
        display: none;
      }
      &.weui-dialog__btn_primary {
        background-color: #652033;
        color: #fff;
      }
    }
  }
}
