/* You can add global styles to this file, and also import other style files */
@import "~ngx-weui/index.min.css";

html, body {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.14rem;
}

.content-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #f8f8f8;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.has-nav {
    padding-top: 0.48rem;
  }
  &.has-footer {
    &:after {
      content: "";
      display: block;
      height: 53px;
    }
  }
  .weui-panel:first-child {
    &:before {
      display: none;
    }
  }
}

.weui-cells {
  margin-top: 0.1rem;
  font-size: 0.15rem;
  color: #666;
  &:before, &:after {
    display: none;
  }
}

.weui-cells__title {
  font-size: 0.15rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.weui-cells__tips {
  font-size: 0.13rem;
  color: #4CA6FF;
  margin-top: 0.05rem;
}

.weui-cell {
  padding: 0.15rem;
  .weui-cell__hd {
    i {
      margin-right: 0.05rem;
    }
  }
}

.weui-cell_access .weui-cell__ft {
  font-size: 0.15rem;
  padding-right: 0.13rem;
}

.weui-cell__ft {
  font-size: 0.15rem;
  label {
    font-size: 0;
    display: inline-block;
    margin-left: 0.1rem;
    span, i {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-size: 0.13rem;
    }
    i {
      font-size: 0.18rem;
    }
  }
}
