<div class="content-scrollable">
  <div class="btns weui-flex">
    <div class="weui-flex__item">
      <a (click)="showRule()"><img src="/assets/images/start/l-btn.png"></a>
    </div>
    <div class="weui-flex__item">
      <a routerLink="/index"><img src="/assets/images/start/r-btn.png"></a>
    </div>
  </div>
</div>


<weui-mask #mask>
  <div class="rules">
    <article class="weui-article">
      <div class="rules-logo">
        <img src="/assets/images/start/rules-logo.png">
      </div>
      <section>
        <h3>活动介绍</h3>
        <p>2018年6月23日至6月29日期间，广州IFC国金天地会员可在线参与2018年世界杯竞猜活动，凡参与32支球队中选择4支可以进入16强竞猜活动的会员可获得会员积分2分，猜中并抽中的会员更可获取50元蛋糕券。</p>
      </section>
      <section>
        <h3>活动说明</h3>
        <ol>
          <li>活动期间，每个微信ID只能参与一次竞猜；</li>
          <li>奖品兑换需提供真实有效的信息，如因为游戏过程中填写错误无效信息导致未能兑换奖品，活动主办方概不承担任何责任；</li>
          <li>如成功竞猜结果，我们将从中抽取5位幸运儿送出礼品，并由专人电话通知中奖者；</li>
          <li>活动规则如有相关变动或调整，将公布在活动页面上即时生效，恕不另行通知；</li>
          <li>活动解释权在法律允许范围内归广州IFC国金天地所有。</li>
        </ol>
      </section>
    </article>
    <div class="rules-bg">
      <img src="/assets/images/start/mask-bg.png">
    </div>
    <div (click)="close()" class="close">
      <img src="/assets/images/start/close.png">
    </div>
  </div>
</weui-mask>
